<!--==========================
  Intro Section
============================-->
<section id="intro">

  <div class="intro-text">
      <h2 class="travelogger">Travelogger</h2>
    <a href="#login" class="btn-get-started scrollto">Go Forth</a>
  </div>

</section><!-- #intro -->


<!--==========================
    Login Section
  ============================-->
  <section id="login">
      <div class="container">
        <div class="row wow fadeInUp">

          <div class="col-lg-4 col-md-4">
            <div>
              <h3 class="title-colored">Register</h3>
              <p>You've been places. Keep track of your adventures with this travelogue.</p>
            </div>

            <div class="text-centered"><a class="btn" href="/users/new">Register</a></div>

            
          </div>


          <div class="col-lg-5 col-md-4">
            <h3 class="title-colored">Log in</h3>

            <div>
              <a href="" class="btn"><span class="fa fa-facebook"></span> Log in with Facebook</a>
            </div>

            <br>
            <h4 class="text-center text-middle-line">
              <span>or</span>
            </h4>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <label for="name">Username</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for"password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class=""><button type="submit" title="Login">Log in</button></div>
              </form>
            </div>


          </div>

        </div>

      </div>
    </section><!-- #login -->